output {
    lexicons "crates/lexicons/lexicons"
    codegen "crates/lexicons/src"
    cargo-toml "crates/lexicons/Cargo.toml"
}

source "teal-fm" type="git" priority=100 {
    repo "https://github.com/teal-fm/teal"
    pattern "lexicons/fm.teal.alpha/**/*.json"
}
